@import url('https://fonts.googleapis.com/css2?family=Nova+Square&family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime&family=IBM+Plex+Mono&family=Share+Tech+Mono&family=VT323&display=swap');

:root {
  --Normal: #ECE8E1;
  --Grass: #CEFFB4;
  --Fire: #FF9B61;
  --Water: #B0B0FF;
  --Electric: #FFF8B0;
  --Ice: #B0FFFF;
  --Fighting: #BF6363;
  --Poison: #AD71C9;
  --Ground: #F8CD8D;
  --Rock: #BF9A63;
  --Flying: #B0E7FA;
  --Psychic: #FAB0F1;
  --Bug: #F1FAB0;
  --Dragon: #A66BB6;
  --Dark: #4E4E4E;
  --Steel: #CED6D7;
  --Fairy: #FFB4CB;
  --Bird: #8DA19B;
  --Ghost: #6C4E82;

  --AFW: lavender;

  --easeSec: 2s;
}
* {
  box-sizing: border-box;
  font-family: Poppins, "Nova Square", sans-serif;
}
body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#Pokedex {
width: 75%;
height: 90%;
background-color: rgb(170, 166, 127);
border-radius: 8px;
padding: 0.3rem;
transition: var(--easeSec) ease-in-out;
display: block;
overflow-y: scroll;
scrollbar-color: rgba(00,00,00,00) #00000000;

}

#top {
  height: 100%;
  background: url('../Assets/normal.png');
  background-repeat: no-repeat;
  background-position: top right;
}

#top-bar {
  display: flex;
  justify-content: space-between;
  color: white;
  height: 5%;
}

#Search {
  color: white;
  background: none;
  border: none;
  font-size: 1.2em;
  font-weight: bold;
  width: 60%;
}

#Search:focus {
  outline: none;
}


#data {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 95%;
}


#Dynamics {
  height: 80%;
  overflow-y: scroll;
}

#Moves {
  width: 95%;
  height: 20%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  scrollbar-color: rgba(00,00,00,00) #00000000;
}
#Moves table{
  height: 20%;
}

#types {
  display: flex;
  justify-content:center;
  gap: 1rem;
}

.type {
  background: blue;
  color: white;
  padding: 0.12rem 0.5rem;
  border-radius: 20px;
  font-size: .8rem;
  font-weight: bold;
  border: 1px solid black;
}
#data h4 {
  text-align: center;
  transition: var(--easeSec) ease-in-out;
}


tr, th, thead, tbody, td, tfoot {
  border-collapse: collapse;
  margin: auto;
  border-radius: 10px;
  padding: .5rem;
}
.Move {
  color: white;
}
tr {
  line-height: 1em;
  overflow-y: scroll;
  scrollbar-color: rgba(00,00,00,00) #00000000;
}
th {
  padding:.3rem;
}
table {
  width:100%;
}
.AtkType {
  width:100%;
}
#MoveListHeader {
  transition: var(--easeSec) ease-in-out;
}

.MoveName, .MoveType, .MovePower, .MovePP, .MoveAcc {
  text-align: center;
}


.PokemonList {
  overflow-x: scroll;
  scrollbar-color: rgba(00,00,00,00) #00000000;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20%;
}


.Pokemon {
  display:flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: bolder;
  min-width: 1em;
  max-width: fit-content;
  padding-right: 1em;
  border-radius: 1em;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-top: 1%;
  transition: var(--easeSec) ease-in-out;
  height: 100%;
}

.TypeHeaders {
  text-align: center;
}

.TypeLists {
  overflow-x: scroll;
  scrollbar-color: rgba(00,00,00,00) #00000000;
}

.MoveClass {
  display: block;
  margin: auto;
}

#BattleData {
  height: 80%;
}

/* --------------------------------------------------------------------------------------------------------------- */
